extends layout

block content
  

  // Wrapper
  div#wrapper.container-fluid 
    div.row
     div.col-md-5
      .row.px-3

        div.col-md-12.my-3.mb-4
         h1.m-0.text-uppercase= title
         p.title.m-0 Duplicati  centralized management dashboard

        // USER INFO
        #userInfo.col-md-12.card.my-2.p-3
          span.user User: 
           span#userInfoName
          p.mt-3
            strong.mr-1 IP:
            |  <span id='userInfoIP'></span>
            hr
          p
            strong.mr-1 Job status:
            |  <span id='userInfoJobStat'></span>
            hr
          p
            strong.mr-1 Location:
            |  <span id='userInfoLocation'></span>
            hr
          p
            strong.mr-1 Url:
            |  <span id='userInfoUserURL' class="font-weight-bold"></span>
            hr
          p
            strong.mr-1 Report:
            |  <span id='userInfoReport'></span>
            br
          
        // /USER INFO

        //UPDATE USER
        div.col-md-12.my-2.card.p-3
         #updateInfoChunk.input-group.mb-3.hidden
          h2 Update User
         #updateInfo.input-group-prepend
           fieldset.row.updateUsersClear
            div.col-md-6
             input#updateUserName.form-control(type='text', placeholder='username')
            div.col.md-6
             input#updateUserIP.form-control(type='text', placeholder='IP address')
            div.col-md-6.mt-3
             input#updateUserLocation.form-control(type='text', placeholder='location')
            div.col-md-3.mt-3
             button#btnUpdateUser.btn.btn-custom-color.btn-block Update User
            div.col-md-3.mt-3
             button#btnCancelUpdateInfo.btn.btn-danger.btn-block Cancel
        // /UPDATE USER

        // ADD USER
        div.col-md-12.my-2.card.p-3
          div#addUserForm
            h2.float-left Add User
            <i class="fa fa-plus ova float-right mt-2" aria-hidden="true"></i>
            <i class="fa fa-minus ova float-right mt-2" aria-hidden="true"></i>
          #addUser.input-group-prepend
           fieldset.row.addUser
            div.col-md-6
             input#inputUserName.form-control(type='text', placeholder='Username')
            div.col-md-6
             input#inputUserIP.form-control(type='text', placeholder='IP Address')
            div.col-md-6
             //- input#inputUserLocation.form-control(type='text', placeholder='Location')
             +generateDropDownList('', 'browsers', array)
             mixin generateDropDownList(label, id, array)
              label(for=id) #{label}
              input#inputUserLocation.form-control(type='text', placeholder='Location',list='browsers')
              datalist(name=id placeholder=placeholder id=id)
                each val in array
                  option(value= val)
            //- input#inputUserURL(type='text', value"placeholder='HTML report URL')
            div.col-md-6.mb-3
             label
             input#inputUserJobStat.form-control(type='text', value="NeverRun" , placeholder='Job Status')
            div.col-md-6
             input#inputUserReport.form-control(type='text',value="NoReportYet" , placeholder='Report')
            div.col-md-3
             button#btnAddUser.btn.btn-custom-color.btn-block Add User
        // /ADD USER


     div.col-md-7.vertical-border
         .clearfix.pt-4.card.p-2.mt-3
          h2.pl-3.mb-3 Filter users
          article.navbar-form.navbar-left.ml-b.row.px-3
           .col-md-2
            label Total show:
            select.form-control.post_max.m-b
             option(value='15') 15
             option(value='30') 30
             option(value='90') 90
           .col-md-3
            label Order by:
            select.form-control.post_name.m-b
             option(value='username') Username
             option(value='jobstat') Job Status
             //- option(value='quantity') Quantity
           .col-md-2
            label Order by:
            select.form-control.post_sort.m-b
             option(value='ASC') Asc
             option(value='DESC') Desc
           .col-md-3
            label Search keyword: 
            input.form-control.post_search_text.m-b(type='text', placeholder='Enter keyword')
           .col-md-2
            button.btn.btn-custom-color.post_search_submit.m-b.btn-block(type='submit') Filter
           .col-md-12

         .products-view-all.p-4.card.mt-2
          .row
           .col-md-12
            form.post-list
                input(type='hidden', value='')
            
            // USER LIST
            h2.mb-3 User list
            #userList
              .clearfix#clearfix
                table.table.table-hover
                    thead.thead-light.text-uppercase
                        th UserName
                        th Status
                        th Remote Access
                        th Delete
                        th Update
                    tbody.pagination-container.clearfix#clearfix
            .pagination-nav 
            // /USER LIST  
  // /WRAPPER


  