extends layout

block content
  h1= title
  p Duplicati  centralized management dashboard

  // Wrapper
  #wrapper

    // USER INFO
    #userInfo
      h2 User Info for
      h3#userInfoName
      p
        strong IP:
        |  <span id='userInfoIP'></span>
        br
        strong Job Status:
        |  <span id='userInfoJobStat'></span>
        br
        strong Location:
        |  <span id='userInfoLocation'></span>
        br
        strong HTML URL:
        |  <span id='userInfoUserURL'></span>
        br
        strong Report:
        br
        |  <span id='userInfoReport'></span>
        br
       
    // /USER INFO

    .container.products-view-all
        form.post-list
            input(type='hidden', value='')
        .clearfix
            article.navbar-form.navbar-left.p-0.m-0.ml-b
                .form-group
                    label Per Page: 
                    select.form-control.post_max.m-b
                        option(value='15') 15
                        option(value='30') 30
                        option(value='90') 90
                label Search Keyword: 
                    input.form-control.post_search_text.m-b(type='text', placeholder='Enter a keyword')
                .form-group
                    label Order By: 
                    select.form-control.post_name.m-b
                        option(value='username') Username
                        option(value='jobstat') Job Status
                        //- option(value='quantity') Quantity
                    select.form-control.post_sort.m-b
                        option(value='ASC') ASC
                        option(value='DESC') DESC
                input.btn.btn-primary.post_search_submit.m-b(type='submit', value='Filter')
        hr
        // USER LIST
        h2 User List
        #userList
          .clearfix#clearfix
            table
                thead
                    th UserName
                    th Status
                    th Remote Access
                    th Delete?
                    th Update???
                tbody.pagination-container.clearfix#clearfix
        .pagination-nav 
        // /USER LIST  

    // ADD USER
    div
      #addUserForm.input-group.mb-3
        h2 Add User
        #addUser.input-group-prepend
          fieldset
            input#inputUserName.form-control(type='text', placeholder='Username')
            input#inputUserIP.form-control(type='text', placeholder='IP Address')
            br
            //- input#inputUserLocation.form-control(type='text', placeholder='Location')
            +generateDropDownList('', 'browsers', array)
            mixin generateDropDownList(label, id, array)
             label(for=id) #{label}
             input#inputUserLocation.form-control(type='text', placeholder='Location',list='browsers')
             datalist(name=id placeholder=placeholder id=id)
                each val in array
                  option(value= val)
            //- input#inputUserURL(type='text', value"placeholder='HTML report URL')
            br
            input#inputUserJobStat.form-control(type='text', value="NeverRun" , placeholder='Job Status')
            input#inputUserReport.form-control(type='text',value="NoReportYet" , placeholder='Report')
            br
            button#btnAddUser.btn.btn-primary Add User
    // /ADD USER

    //UPDATE USER
    div
      #updateInfoChunk.input-group.mb-3.hidden
        h2 Update Info
        #updateInfo.input-group-prepend
          fieldset
            input#updateUserName.form-control(type='text', placeholder='username')  
            input#updateUserIP.form-control(type='text', placeholder='IP address')
            br
            input#updateUserLocation.form-control(type='text', placeholder='location')
            br
            button#btnUpdateUser.btn.btn-primary Update User
            button#btnCancelUpdateInfo.btn.btn-outline-secondar Cancel
    // /UPDATE USER  
    
  // /WRAPPER


  